@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SUIT-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  background-color: #fff; /* 기본 배경색 */
}

.navbar {
  padding: 20px 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.navbar > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.navbar > div > div:nth-of-type(1) {
  transition: color 0.3s ease;
}
.navbar > div > div:nth-of-type(1):hover {
  color: #fa249a;
}
.logo {
  text-align: center; /* 가운데 정렬 */
  color: #333; /* 글자 색상 */
}

#title-search-form {
  position: relative;
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 중앙 정렬 */
}
#title-search-input {
  width: 300px; /* 입력 필드 너비 */
  padding: 10px; /* 패딩 추가 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 16px; /* 폰트 크기 */
  background-color: #f5f5f5;
  border: none;
}
#title-search-input:focus {
  width: 300px; /* 입력 필드 너비 */
  padding: 10px; /* 패딩 추가 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 16px; /* 폰트 크기 */
  outline: none;
}
#search-button {
  padding: 10px 15px; /* 버튼 패딩 */
  margin-left: 10px; /* 버튼과 입력 필드 간격 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 모서리 둥글게 */
  background-color: #fa249a; /* 버튼 배경 색상 */
  color: white; /* 버튼 글자 색상 */
  font-size: 16px; /* 버튼 폰트 크기 */
  cursor: pointer; /* 커서 포인터로 변경 */
  transition: background-color 0.3s; /* 배경 색상 전환 효과 */
}
#loading-icon {
  position: absolute; /* 화면에 고정 */
  top: 50%; /* 수직 중앙 */
  left: 50%; /* 수평 중앙 */

  margin: 0 auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fa249a;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.movies-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 카드의 최소 크기를 200px로 하고, 화면 크기에 맞춰 여러 개 배치 */
  gap: 30px; /* 카드들 사이에 여백 추가 */
  padding: 2% 9% 5% 9%; /* 컨테이너 내부 여백 */
}

.movie-card {
  transition: transform 0.3s;
  display: flex; /* 내부 요소들을 flexbox로 정렬 */
  flex-direction: column; /* 세로 방향으로 정렬 */
}

.movie-card:hover {
  transform: scale(1.02); /* 마우스 오버 시 확대 효과 */
}

.poster-image {
  box-shadow: rgba(80, 69, 194, 0.15) 0px 2px 8px;
  border-radius: 8px;
  width: 100%; /* 카드 너비에 맞춤 */
  height: 430px; /* 고정된 높이 설정 (원하는 높이로 조정) */
  object-fit: cover; /* 비율을 유지하며 잘라내기 */
  display: block;
  margin-bottom: 10px;
}

.movieTextInfo {
  position: absolute;
  color: #ddd;
  bottom: 0;
}

.title,
.releseDate,
.vote-average {
  margin: 0;
  padding-left: 10px;
}
.releseDate {
  color: #aaa;
  font-size: 0.9rem;
}
.title {
  font-size: 1.2rem;
  display: -webkit-box; /* Flexbox를 사용하여 줄 수 제한 */
  -webkit-line-clamp: 1; /* 표시할 줄 수 설정 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
  height: 1.4em; /* 높이를 2줄에 맞게 설정 (약 2줄 높이) */
}

.pagination-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.pagination-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-container button {
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 40px;
  padding: 0 13px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.pagination-container button:hover {
  border: 1px solid #cdcecf;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.vote-average {
  font-size: 14px;
}

.search-suggestions {
  position: absolute;
  width: 300px;
  top: calc(42px);
  margin-right: calc(57.97px + 10px);
  background-color: white; /* 배경색 설정 */
  border: 1px solid #ccc; /* 테두리 색상 설정 */
  border-radius: 5px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.suggestion-item {
  padding: 10px; /* 각 제안 항목의 패딩 */
  cursor: pointer; /* 마우스 커서 변경 */
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
}
.no-suggestions {
  padding: 10px;
  color: #ccc;
}
.recent-searhced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.recent-searhced > div {
  color: #fa249a;
  font-size: 0.9em;
  padding-left: 10px;
}
.recent-searhced > span {
  color: #bdbdbd;
  font-size: 0.8em;
  cursor: pointer;
  padding-right: 8px;
}

/* 모달 콘텐츠 스타일 */

.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* 화면에 고정 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  background-color: rgba(0, 0, 0, 0.74); /* 반투명 배경 */
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff; /* 흰색 배경 */
  margin: 5% auto; /* 세로 중앙 정렬 */
  width: 60%; /* 너비 */
  height: 80vh;
  max-width: 80vw; /* 최대 너비 */
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}
#moviePoster {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.contents-rightWrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 닫기 버튼 스타일 */
.close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #aaa; /* 회색 */
  float: right; /* 오른쪽 정렬 */
  font-size: 28px; /* 글자 크기 */
  font-weight: bold; /* 두꺼운 글씨 */
  cursor: pointer; /* 커서 포인터 */
}

.bookmark-button {
  cursor: pointer;
}
